.player {
  display: flex;
  align-items: center;

  height: 50px;
  width: 200px;

  background-image: url("./../../assets/img/label-empty.png");
  background-size: cover;
  background-repeat: no-repeat;

  filter: grayscale(0.8);
  opacity: 0.8;

  > img {
    height: 42px;
    object-fit: cover;
    margin: 8px 25px;
  }

  > span {
    font-size: 16px;
    margin-left: 16px;
  }
}

.player-active {
  height: 100px;
  width: 400px;

  filter: grayscale(0);
  opacity: 1;

  > img {
    height: 84px;
    object-fit: cover;
    margin: 8px 25px;
  }

  > span {
    font-size: 32px;
    margin-left: 32px;
  }
}
