<app-player
  *ngFor="let player of game.players; let i = index"
  [name]="player"
  [ngStyle]="{ 'top.px': 100 + i * 110 }"
  class="player-position"
></app-player>

<div class="field">
  <div class="card-stack">
    @for (c of [0, 1, 2, 3, 4]; track $index; let last = $last) {
      <img
        (click)="takeCard($index)"
        [ngStyle]="{ 'right.px': $index * 5 }"
        src="/assets/img/cards/card_cover.png"
        alt=""
      />
      @if (pickedCardIndex === $index && pickCardAnimation) {
        <img
          [ngStyle]="{ 'right.px': $index * 5 }"
          [class.pick-card]="pickedCardIndex === $index && pickCardAnimation"
          src="/assets/img/cards/{{ currentCard }}.png"
          alt=""
        />
      }
    }
    @for (card of game.playedCards; track $index) {
      <img class="played-card" src="/assets/img/cards/{{ card }}.png" alt="" />
    }
  </div>
</div>

<button mat-fab color="primary" class="btn-add">
  <mat-icon>add</mat-icon>
</button>
